<!DOCTYPE html>
<html>
    <head>
        <title>Files</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <head>
            <nav class="navbar navbar-expand navbar-light bg-light">
                <a class="navbar-brand" href="/">FSP</a>
            </nav>
        </head>
        <div>
        {% for file in files %}
            <div class="list-group-item text-break"><a href="{{ url_for('download', f=file) }}">{{ file }}</a></div>
        {% endfor %}
        </div>
    </body>
</html>